body{
	margin: 2px;
	padding: 2px;
	height: 100%;
	background: #f1f1f1;
	color: #4a4a4a;
	font-family: sans-serif;
}

div{
	padding: 2px;
}

label{
	font-weight: bold;
}

section{
	padding: 2;
	text-align: left;
}

.profilePicture{
	float: right;
	border-radius: 50%;
}

.pageHeader{
	padding: 10px;
	height: 125px;
	text-align: left;
	line-height: 3px;
	background: #fff;
	border-bottom: 2px solid #ff0066; 
}
.pageSubHeader{
	width: 250px;
	height: 45px;
	float: left;
	border-right: 1px solid #ff0066;
	padding: 5px;
}
.pageSubHeader.evenElement{
	background: #cccccc;
}
.pageSubHeader.firstElement{
	padding-left: 0;
}

.pageSubHeader.lastElement{
	border-right-style: none;
}
.boldText{
	font-weight: bold;
}


.group{
	padding: 15px, 15px;
}

.group.group-odd{
	padding:5px;
	background: #fff;
}

.group .info{
	font-weight: normal;
	color:#777;
}

.group label{
	padding-bottom: 8px;
}

